<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <!-- Contact Information -->
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      
      <!-- Social Media Icons -->
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" class="social-icon-link">
              <span class="icon icon--github">
                <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true">
                  <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862"></path>
                </svg>
              </span>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" class="social-icon-link">
              <span class="icon icon--twitter">
                <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true">
                  <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27"></path>
                </svg>
              </span>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      
      <!-- Description -->
      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>

